@font-face {
  font-family: 'iconfont';  /* Project id 2890487 */
  src: url('//at.alicdn.com/t/font_2890487_esp8py1jgep.woff2?t=1636006945686') format('woff2'),
       url('//at.alicdn.com/t/font_2890487_esp8py1jgep.woff?t=1636006945686') format('woff'),
       url('//at.alicdn.com/t/font_2890487_esp8py1jgep.ttf?t=1636006945686') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-one-line-arrow:before {
  content: "\e61c";
}

.icon-baocuntupian:before {
  content: "\e662";
}

.icon-xingzhuang-juxing:before {
  content: "\eb97";
}

.icon-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}

.icon-XML:before {
  content: "\e624";
}

.icon-chexiao:before {
  content: "\e601";
}

.icon-zhongzuo:before {
  content: "\e604";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-json:before {
  content: "\ea42";
}

.icon-lingxing:before {
  content: "\edda";
}

.icon-byangtiaoquxian:before {
  content: "\edf9";
}

.icon-liuchengtu:before {
  content: '\e603'
}